@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.conteiner {
  max-width: 100%;
  margin: 0 auto;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 30px !important;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px !important;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger {
  display: none;
  z-index: 30;
  margin-left: auto;
}
@media (max-width: 1100px) {
  .hamburger {
    display: inline-block;
  }
}

.comments {
  background-image: url(../../setting/img/banner_comments.png);
  margin-top: 90px;
  max-width: 100%;
  max-height: 611.43px;
  object-fit: cover;
  padding-bottom: 30px;
}
.comments__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.comments__title_h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}
@media (max-width: 500px) {
  .comments__title_h1 {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .comments__title_h1 {
    font-size: 18px;
  }
}
.comments__block {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding: 20px;
  padding-top: 105px;
}
.comments__block::-webkit-scrollbar {
  background: rgb(255, 255, 255);
  max-height: 4px;
}
.comments__block::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
}
.comments__block__person {
  background-color: white;
  min-width: 280px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.comments__block__person_name {
  display: flex;
  gap: 15px;
}
.comments__block__person_name__title {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.comments__block__person_name__title_h1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.comments__block__person_name__title_p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
  max-width: 190px;
}

.height {
  max-height: 280px !important;
}

.info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: nowrap;
}
@media (max-width: 1150px) {
  .info {
    flex-direction: column;
    align-items: center;
  }
}
.info__sova {
  position: relative;
}
.info__sova__title {
  position: absolute;
  top: 15px;
  left: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info__sova__title__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.info__sova__title__p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.info__sova__title__end {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.info__select__old {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  width: 762.7px;
  max-height: 75px;
  margin-left: 58.5px;
}
@media (max-width: 992px) {
  .info__select__old {
    width: 600px;
  }
}
@media (max-width: 670px) {
  .info__select__old {
    max-width: 400px;
    margin-left: 0px;
    max-height: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .info__select__old {
    max-width: 350px;
  }
}
@media (max-width: 350px) {
  .info__select__old {
    max-width: 280px;
  }
}
.info__select__old__section {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 14px;
  cursor: pointer;
}
.info__select__old__section__title {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}
@media (max-width: 350px) {
  .info__select__old__section__title {
    padding: 0;
  }
}
.info__select__old__section__title_h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
@media (max-width: 500px) {
  .info__select__old__section__title_h1 {
    font-size: 10px;
    line-height: 10px;
  }
}
.info__select__old__section__title_p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}
@media (max-width: 500px) {
  .info__select__old__section__title_p {
    font-size: 9px;
    line-height: 5px;
  }
}
.info__select__button {
  margin: 40px;
  margin-left: 55px;
}
@media (max-width: 800px) {
  .info__select__button {
    margin: 20px;
  }
}
.info__select__button__block {
  display: flex;
  gap: 20px;
  padding: 10px;
  position: relative;
}
@media (max-width: 800px) {
  .info__select__button__block {
    gap: 10px;
    padding: 5px;
    flex-direction: column;
  }
}
.info__select__button__style {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  z-index: 10;
  padding: 15px;
  color: #000000;
  border: none;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 670px) {
  .info__select__button__style {
    padding: 10px;
  }
}
.info__select__button__style:hover::after {
  opacity: 0.2;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border-radius: 20px;
}
.info__select__button__style::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  position: absolute;
  z-index: -1;
  background: white;
  opacity: 1;
  border-radius: 6px;
}
.info__select__button__style::after {
  transition: 0.3s;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  position: absolute;
  z-index: -2;
  background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
  opacity: 0.3;
  filter: blur(5px);
  border-radius: 5px;
}
.info__video {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 35px;
}
@media (max-width: 1100px) {
  .info__video {
    margin: 0;
  }
}
.info__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1100px) {
  .info__main {
    display: block;
  }
}
@media (max-width: 670px) {
  .info__main {
    margin: 17px;
  }
}
@media (max-width: 500px) {
  .info__main {
    margin: 0;
  }
}
.info__main__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
  margin-left: 20px;
  margin-top: -70px;
  max-width: 780px;
  margin-right: 400px;
}
@media (max-width: 1200px) {
  .info__main__text {
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .info__main__text {
    margin-top: -30px;
    font-size: 16px;
    line-height: 1.2;
  }
}
.info__main__aside {
  display: flex;
  gap: 120px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 320px;
}
@media (max-width: 1200px) {
  .info__main__aside {
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .info__main__aside {
    gap: 50px;
  }
}
@media (max-width: 500px) {
  .info__main__aside {
    gap: 30px;
  }
}
.info__main__aside__content {
  display: flex;
  flex-direction: column;
}
.info__main__aside__content_number {
  font-weight: 700;
  font-size: 86px;
  line-height: 105px;
  text-transform: capitalize;
  color: white;
  background: linear-gradient(90deg, #f7941d 0%, #4c8b09 25%, #27aae1 40%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}
@media (max-width: 1100px) {
  .info__main__aside__content_number {
    font-size: 60px;
    line-height: 70px;
    -webkit-text-stroke: 5px transparent;
  }
}
@media (max-width: 992px) {
  .info__main__aside__content_number {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 500px) {
  .info__main__aside__content_number {
    font-size: 34px;
    line-height: 40px;
  }
}
@media (max-width: 350px) {
  .info__main__aside__content_number {
    font-size: 23px;
    -webkit-text-stroke: 3px transparent;
  }
}
.info__main__aside__content_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}
@media (max-width: 1100px) {
  .info__main__aside__content_text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 500px) {
  .info__main__aside__content_text {
    font-size: 10.5px;
    line-height: 14px;
  }
}
.info__main__block {
  margin-top: 80px;
  gap: 20px;
  display: grid;
  grid-template-columns: minmax(480px, 1fr) repeat(2, minmax(330px, 1fr));
  max-width: 1180.18px;
}
@media (max-width: 1250px) {
  .info__main__block {
    display: inline-block;
    max-width: 500px;
  }
}
@media (max-width: 1100px) {
  .info__main__block {
    margin-left: 220px;
  }
}
@media (max-width: 992px) {
  .info__main__block {
    margin-left: 200px;
  }
}
@media (max-width: 800px) {
  .info__main__block {
    margin-left: 100px;
  }
}
@media (max-width: 670px) {
  .info__main__block {
    margin-left: 60px;
    max-width: 450px;
  }
}
@media (max-width: 500px) {
  .info__main__block {
    margin-left: 40px;
    max-width: 300px;
  }
}
@media (max-width: 350px) {
  .info__main__block {
    max-width: 250px;
    margin-left: 40px;
  }
}
.info__main__block__day-open-door {
  display: flex;
  background-color: #f7bc75;
  padding: 44px;
  border-radius: 20px;
  gap: 40px;
  grid-column: span 3;
}
@media (max-width: 1250px) {
  .info__main__block__day-open-door {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}
.info__main__block__day-open-door_date {
  display: flex;
  flex-direction: column;
}
.info__main__block__day-open-door_date_num {
  color: #000000;
  font-size: 100px;
  line-height: 80px;
  font-weight: 700;
}
.info__main__block__day-open-door_date_season {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
}
.info__main__block__day-open-door_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.info__main__block__day-open-door_text_title {
  font-weight: 500;
  font-size: 36px;
  line-height: 26px;
}
.info__main__block__day-open-door_text_p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  max-width: 717px;
}
.info__main__block__day-open-door_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info__main__block__day-open-door_button_btn {
  padding: 18px 67px;
  background-color: #f7bc75;
  cursor: pointer;
  display: flex;
  gap: 10px;
  text-align: center;
}
.info__main__block__program {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #c5ddff;
  border-radius: 20px;
  gap: 40px;
  padding: 50px;
  grid-row: span 2;
}
@media (max-width: 1250px) {
  .info__main__block__program {
    margin-bottom: 10px;
  }
}
.info__main__block__program_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}
.info__main__block__program_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  max-width: 400px;
}
.info__main__block__program_btn {
  background: #c5ddff;
  padding: 12px 61px;
}
.info__main__block__news {
  background: #b8efcf;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 45px;
}
.info__main__block__news_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}
@media (max-width: 1250px) {
  .info__main__block__news {
    margin-bottom: 10px;
    padding: 30px;
  }
}
.info__main__block__world-it {
  background: #ffeef6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  cursor: pointer;
}
@media (max-width: 1250px) {
  .info__main__block__world-it {
    padding: 30px;
    margin-bottom: 10px;
  }
}
.info__main__block__world-it_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}
.info__main__block__test {
  display: flex;
  padding: 40px;
  align-items: center;
  background: #ffe38e;
  border-radius: 20px;
  gap: 30px;
  cursor: pointer;
  grid-column: span 2;
}
@media (max-width: 670px) {
  .info__main__block__test {
    flex-direction: column;
  }
}
.info__main__block__test_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.info__main__block__test_title_h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}
.info__main__block__test_title_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  max-width: 365px;
}

.btn {
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #000000;
}

.border__progress {
  max-width: 160px;
  height: 4px;
  margin: -4px;
  margin-left: 58px;
  background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
}
@media (max-width: 670px) {
  .border__progress {
    margin-left: 0px;
    max-width: 100px;
  }
}
@media (max-width: 350px) {
  .border__progress {
    max-width: 80px;
  }
}

.margin_left {
  margin-left: 90px;
}
@media (max-width: 992px) {
  .margin_left {
    margin-left: 40px;
  }
}
@media (max-width: 670px) {
  .margin_left {
    margin-left: 10px;
  }
}
@media (max-width: 350px) {
  .margin_left {
    margin-left: 5px;
  }
}

@media (max-width: 670px) {
  .icon__section {
    display: none;
  }
}

.header {
  flex-wrap: nowrap;
}
.header__banner {
  background-image: url("../../setting/img/banner.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 500px;
}
@media (max-width: 800px) {
  .header__banner {
    background-image: url(../../setting/img/banner__mobile.png);
  }
}
.header__banner__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 127px 360px;
}
@media (max-width: 1850px) {
  .header__banner__title {
    padding: 126px;
  }
}
@media (max-width: 1350px) {
  .header__banner__title {
    padding: 125px 250px 30px 0px;
  }
}
@media (max-width: 800px) {
  .header__banner__title {
    align-items: center;
    padding: 0px;
    padding-top: 40px;
  }
}
@media (max-width: 350px) {
  .header__banner__title {
    gap: 10px;
  }
}
.header__banner__title_h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 1350px) {
  .header__banner__title_h1 {
    font-size: 24px;
  }
}
@media (max-width: 800px) {
  .header__banner__title_h1 {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .header__banner__title_h1 {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .header__banner__title_h1 {
    font-size: 14px;
  }
}
.header__banner__title_h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 1350px) {
  .header__banner__title_h2 {
    font-size: 24px;
  }
}
@media (max-width: 800px) {
  .header__banner__title_h2 {
    font-size: 24px;
  }
}
@media (max-width: 800px) {
  .header__banner__title_h2 {
    font-size: 19px;
  }
}
@media (max-width: 500px) {
  .header__banner__title_h2 {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .header__banner__title_h2 {
    font-size: 14px;
  }
}
.header__banner__title_p {
  padding-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 1350px) {
  .header__banner__title_p {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .header__banner__title_p {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .header__banner__title_p {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .header__banner__title_p {
    font-size: 7px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 67px;
  padding: 20px;
  background: #F6F7F9;
}
@media (max-width: 1250px) {
  .navbar {
    gap: 20px;
  }
}
@media (max-width: 350px) {
  .navbar {
    gap: 25px;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .navbar__logo {
    max-width: 80px;
    height: 60px;
  }
}
.navbar__strokes {
  display: flex;
  gap: 20px;
}
@media (max-width: 1100px) {
  .navbar__strokes {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 0 10px rgb(67, 67, 67);
    z-index: 20;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transform: translateX(calc(100% + 10px));
    will-change: transform;
    transition: 0 4s linear;
  }
}
.navbar__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 6.15px;
  color: #000000;
}
.navbar__link:active {
  color: #001797;
}
.navbar__auth {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 670px) {
  .navbar__auth {
    gap: 10px;
  }
}
.navbar__details {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar__details {
    gap: 20px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .navbar__details {
    flex-direction: column-reverse;
  }
}
@media (max-width: 350px) {
  .navbar__details {
    gap: 10px;
  }
}
.navbar__details__dropdown {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar__details__dropdown {
    gap: 5px;
  }
}
.navbar__details__dropdown__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  cursor: pointer;
  color: #000000;
}
@media (max-width: 768px) {
  .navbar__details__dropdown__text {
    font-size: 10px;
    line-height: 10px;
  }
}
.navbar__details__auth {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar__details__auth {
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .navbar__details__auth {
    display: none;
  }
}
.navbar__details__number {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #00093c;
  cursor: pointer;
  display: flex;
  gap: 8.72px;
}
@media (max-width: 1250px) {
  .navbar__details__number {
    font-size: 11.5px;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .navbar__details__number {
    font-size: 13px;
    line-height: 10px;
  }
}
@media (max-width: 500px) {
  .navbar__details__number {
    display: none;
  }
}
@media (max-width: 670px) {
  .navbar__details__number {
    font-size: 10px;
  }
}

.navbar__strokes.is-active {
  transform: translateX(0);
}

.phone {
  display: none;
}
@media (max-width: 500px) {
  .phone {
    display: inline-block;
  }
}

.auth {
  display: none;
}
@media (max-width: 500px) {
  .auth {
    display: inline-block;
  }
}

/*# sourceMappingURL=style.css.map */
