*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gilroy", sans-serif;

}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  color: #cfcfcf;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 15px;
}

