@mixin _1250px {
  @media (max-width: 1250px) {
    @content;
  }
}
@mixin _1200px {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin _1100px {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin _992px {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin _768px {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin _500px {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin _350px {
  @media (max-width: 350px) {
    @content;
  }
}

